openai
langchain
langchain-community
langchain-core
langchain-cli
chromadb
docx2txt
pypdf
streamlit
tiktoken
unstructured
python-pptx
pdfminer
pdf2image
tesseract
unstructured_inference
pdfminer.six
pinecone-client
python-dotenv
sentence_transformers
pdfplumber